/* Ensures Images look good on IE */ 
img { 
    -ms-interpolation-mode: bicubic; 
}
 
/* Adds border box to every element */
*, *:before, *:after {
  box-sizing: border-box;
}

/*styled select*/

.styled-select{
    background: url("") no-repeat scroll right center #fff;
    cursor: pointer;
    overflow: hidden;
    height:40px;
}

.styled-select select{
    background: none repeat scroll 0 0 transparent;
    cursor: pointer;
    width: 115%;
    border:none;
    height:100%;
    padding-left: 10px;
    -webkit-appearance: none;
}

/*fix to remove blue background on focus in IE*/
.styled-select select:focus::-ms-value {
    background: transparent; /* THIS LINE REMOVES THE BLUE BACKGROUND */
    color: #4d4d4d; /* the -ms-value element defaults to white text, so a different font colour is needed for text to be visible */
}
    
.styled-select select::-ms-value {
    background: transparent; /* remove blue background on ie10/ie11 when selected*/
    color:#4d4d4d;
}

/* Clearfixes */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}