
//em function
$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

//font-size:em(20);



//breakpoints

$tablet: 'min-width: 40em';

$desktop: 'min-width: 64em';

//eg @media print, screen and ($tablet){}